<div style="background-color: #66a3d8; height: 100%">
  <mat-toolbar style="background-color: rgb(3, 24, 74); padding: 10px">
    <span>FlixWorld</span>
    <span class="space-between"></span>
    <mat-icon style="padding-right: 10px" (click)="toProfilePage()"
      >account_circle</mat-icon
    >
    <mat-icon (click)="logout()">logout</mat-icon>
  </mat-toolbar>
  <div class="movie-row">
    <mat-card class="movie-card" *ngFor="let movie of movies; let i = index">
      <mat-card-header>
        <mat-card-title style="color: white">{{ movie.Title }}</mat-card-title>
      </mat-card-header>
      <img
        src="{{ movie.Image }}"
        alt="{{ movie.Image }}"
        style="width: 150px; height: 150px; border-radius: 50%"
      />

      <mat-card-actions style="color: white">
        <button
          mat-button
          (click)="openDialog(genreTemplate)"
          color="secondary"
        >
          Genre
        </button>
        <ng-template #genreTemplate>
          <div class="dialog-box">
            <h1>{{ movie.Genre.Name }}</h1>
            <h2>{{ movie.Genre.Description }}</h2>
          </div>
        </ng-template>
        <button
          mat-button
          (click)="openDialog(directorTemplate)"
          color="secondary"
        >
          Director
        </button>
        <ng-template #directorTemplate>
          <div class="dialog-box">
            <h1>{{ movie.Director.Name }}</h1>
            <h2>{{ movie.Director.Bio }}</h2>
          </div>
        </ng-template>
        <button
          mat-button
          (click)="openDialog(detailsTemplate)"
          color="secondary"
        >
          Details
        </button>
        <ng-template #detailsTemplate>
          <div class="dialog-box">
            <h2>{{ movie.Title }}: {{ movie.Genre.Description }}</h2>
            <h2>Director: {{ movie.Director.Name }}</h2>
            <h2>{{ movie.Director.Bio }}</h2>
          </div>
        </ng-template>

        <mat-icon
          *ngIf="isFav(movie._id)"
          [ngStyle]="{ color: '#66a3d8' }"
          (click)="removeFav(movie._id, movie.Title)"
        >
          favorite
        </mat-icon>

        <mat-icon
          *ngIf="!isFav(movie._id)"
          [ngStyle]="{ color: 'white' }"
          (click)="addInFav(movie._id, movie.Title)"
        >
          favorite_border
        </mat-icon>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<style>
  .space-between {
    flex: 1 1 auto;
  }
  .movie-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .movie-card {
    background-image: url("https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2929&q=80");
    background-size: 100%;
    background-repeat: no-repeat;
    align-items: flex-start;
    flex: 1;
    margin: 10px;
  }
  .dialog-box {
    background-color: white;
    padding: 10px;
  }
</style>
